::-webkit-scrollbar{
  width: 0;
  height: 0;
}
body {
  background-color: #251f1f;
  font-family: cursive;
}

.glow {
  font-size: 80px;
  color: #fff;
  text-align: center;
  position: relative;
  top: 10pc;
  animation-name: glowText;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@keyframes glowText {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #01ffff, 0 0 60px #ff0000, 0 0 70px #e60073;
    animation-duration: 1s;
  }
  
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #00ff9d, 0 0 40px #00ffdd, 0 0 50px #1100ff, 0 0 60px #c8ff00, 0 0 70px #66ff00, 0 0 80px #ff0080;
    animation-duration: 1s;
  }
}